.texto-grande {
  font-size: 64px;
  line-height: 1.125;
  font-family: "Poppins";
  font-weight: 600;
}

.texto-medio {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Roboto";
  font-weight: 400;
}

@media (max-width: 1200px) {
  .texto-grande {
    font-size: 48px;
  }

  .texto-medio {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .texto-grande {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
